body {
	background-color: #3a485f;
	width: 100%;
	height: 100%;
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	margin-top: 10%;
	text-align: center;
}

input {
	font-family: 'Source Sans Pro', sans-serif;
	color: #3a485f;
	text-align: center;
	margin-left: 41%;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10px;
	color: #fff;
	margin-left: 33%;
}

#results {
	font-family: 'Source Sans Pro', sans-serif;
	color: #e6493c;
	font-size: 10px;
	text-align: center;
}

.success {
	color:white;
}